<div class="table-responsive">
  <table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Location</th>
            <th>Start</th>
            <th>End</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of events">
            <td>{{event.id}}</td>
            <td>{{event.name}}</td>
            <td>{{event.location}}</td>
            <td>{{event.startDate | date:'MM/dd/yyyy, HH:mm:ss'}}</td>
            <td>{{event.endDate | date:'MM/dd/yyyy, HH:mm:ss'}}</td>
            <td>
              <button class="btn" (click)="onEventEdit.emit(event)">Edit</button>
              <button class="btn" (click)="onEventDelete(event)">Delete</button>
            </td>
        </tr>
    </tbody>
  </table>
</div>
