<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Dashboard</a>
    <div class="navbar-collapse collapse" id="navbarsExampleDefault" aria-expanded="false">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Event</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
  <h1 class="title-heading-home text-center">Welcome to my App</h1>
  <h2>List of Events</h2>
  <app-events-list  (onEventEdit)="selectedEvent = $event"></app-events-list>

  <ng-container *ngIf="selectedEvent">
    <h2>Manage Event</h2>
    <app-events-manage [event]="selectedEvent" (onCancel)="selectedEvent = undefined"></app-events-manage>
  </ng-container>
  
</div>

