<form [formGroup]="eventsForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label for="formGroupExampleInput">Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="name"  formControlName="name">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Location</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="location"  formControlName="location">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput3">Start</label>
    <input type="datetime-local" class="form-control" id="formGroupExampleInput3" placeholder="start"  formControlName="startDate">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput4">End</label>
    <input type="datetime-local" class="form-control" id="formGroupExampleInput4" placeholder="end"  formControlName="endDate">
  </div>
  <p>Form value: {{ eventsForm.value | json }}</p>
  <p>Form status: {{ eventsForm.status | json }}</p>
  <button class="btn btn-primary" type="submit">Save</button>
  <button class="btn btn-primary" type="button" (click)="onCancel.emit()">Cancel</button>
</form>
