/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
body {
    padding-top: 56px;
}
.title-heading-home {
    color:#563d7c;
    margin: 30px 0;
}